<div style="margin: 8px;">
    <div class="row">
        <div class=" col-md-12">
            <label >Edit Parts Details</label>
        </div>
    </div>
    <div class="quoteClass">
        <div class="quoterow">
            <div class="quotecell quoteheader">Part Code:</div>
            <div class="quotecell">
                <input type="text" className="form-control" id="inputPassword3" placeholder="Part Code" />
            </div>
            <div class="quotecell quoteheader">Part Number:</div>
            <div class="quotecell">
                <input type="text" className="form-control" id="inputPassword3" placeholder="Part Number" />
            </div>
            <div class="quotecell quoteheader">Part Description:</div>
            <div class="quotecell">
                <input type="text" className="form-control" id="inputPassword3" placeholder="Part Description" />
            </div>            
        </div>
        <div class="quoterow">
            <div class="quotecell quoteheader">ETA:</div>
            <div class="quotecell">
                <input type="text" className="form-control" id="inputPassword3" placeholder="ETA" />
            </div>
            <div class="quotecell quoteheader">V/C:</div>
            <div class="quotecell">
                <input type="text" className="form-control" id="inputPassword3" placeholder="V/C" />
            </div>
            <div class="quotecell quoteheader">HCode:</div>
            <div class="quotecell">
                <input type="text" className="form-control" id="inputPassword3" placeholder="HCode" />
            </div>            
        </div>        
    </div>    
    <div style="margin-top: 10px;">
        <button class="btn btn-primary pull-right btn-xs" id="btnSaveParts" title="Save" >Save</button>
    </div>
</div>